<div class="container-fluid">
    <div class="d-flex justify-content-between flex-md-nowrap align-items-center pt-3 pb-2 mb-4 border-bottom">
        <h1 class="h2">
             <%= customer.requester %>
        </h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary" >
                    <i class="bi bi-share"></i> Share
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" >
                    <i class="bi bi-download"></i> Export
                </button>
            </div>
        </div>
    </div>

    <div class="col py-3">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/bookRequest">Books Issued Dashboard</a></li>
                        <li class="breadcrumb-item active"><%= customer.requester %></li>
                    </ol>
                </nav>
            </div>

            <div class="col text-end fw-lighter">
                <b>Last Updated <%= new Date(customer.updatedAt).toUTCString() %></b><br>
                <b>IssuedId:</b> <%= customer._id %>
            </div>
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"><b>Book Name:</b></div>
                <div class="col">
                    <%= customer.title %>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"><b>Member:</b></div>
                <div class="col">
                    <%= customer.requester %>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"><b>Issue Date:</b></div>
                <div class="col">
                    <%= customer.requestedDate %>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"><b>Return Date:</b></div>
                <div class="col">
                    <%= customer.returnedDate %>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"><b>Date Created:</b></div>
                <div class="col">
                    <%= new Date(customer.createdAt).toUTCString() %>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"><b>Date Modified:</b></div>
                <div class="col">
                    <%= new Date(customer.updatedAt).toUTCString() %>
                </div>
            </div>
        </li>
    </ul>
</div>

